* {
    margin: 0 0 0 0px;
    padding: 0;
    box-sizing: content-box;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    background-color: aliceblue;
}

.content {
}

.menu-left {
    background-image: url('../Img/bg-admin.jpg');
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 100%;
    min-height: 630px;
    position: fixed;
}

    .menu-left a {
        list-style-type: none !important;
    }

        .menu-left a:hover {
            text-decoration: none !important;
            color: white !important;
        }

.items-menu {
    display: block;
    border-radius: 7px;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

    .items-menu:hover {
        box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
        background-color: #00acc1;
    }

    .items-menu i {
        margin-right: 5px;
    }

.menu {
    background-color: rgba(0,0,0,.8);
    height: 100%;
    padding: 10px 5px;
}

.menu-active {
    box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
    background-color: #00acc1;
}

.page-content {
    width: calc(100% - 260px);
    height: 100%;
    min-width: 960px;
    position: absolute;
    left: 260px;
}

th{
    text-align: center !important ;
}
.mybutton{
    background-color:#ffffff !important;
}
/*Login*/
.login-form {
    width: 50%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    padding: 5px 20px !important;
}